<!--
Queenie Xiang
SoftDev1 pd7
HW6 -- Echo Echo Echo 
2017-10-02
-->

<html>
  <head>
    <title> Enter Personal Info </title>  
    <center> <h1> Hello! Enter your information below: </h1>
    
  <body>
    <form action = "/information">
      First Name: <br>
      <input type = "text" name = "firstname">

      <br><br>
      
      Last Name: <br>
      <input type = "text" name = "lastname">

      <br><br>
      
      Username: <br>
      <input type = "text" name = "username">

      <br><br>
      
      Pick a cool adjective to describe yourself: <br>
      <input type = "text" name = "adj">
      <br><br><br>
      
      <b> Thank you! </b>
      <br> <img src = /static/cat2.gif> <br> 

      <br>
      
      <input type = "submit" value = "Submit">


      </center> 
    </form>
  </body>
</html>
    
    
